/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

<<<<<<< HEAD
 *,
 *:after,
 *:before {
   box-sizing: border-box;
 }

nav {
  position: fixed;
  top: 0;
  list-style-type: none;
  width: 100%;
}

.nav-bar {
  background-color: #333;
  color: white;
  overflow: hidden;
  height: 60px;
  padding: 0 100px;
}

.username {
  float: right;
}

nav ul {
  display: inline;
}

nav li a {
  text-decoration: none;
  color: white;
}

nav li {
  font-size: 13px;
  list-style-type: none;
  padding: 5px;
  text-transform: uppercase;
}

.main,
.logs {
  float: left;
}

footer {
  background-color: #333;
  color: white;
  overflow: hidden;
  height: 60px;
  margin: 0;
  padding: 0 30px;
  font-size: 12px;
}

.footer-text {
  float: right;
=======
html {
	overflow: auto;
}

body {
	font-family: 'Roboto', sans-serif;
}

nav {
	height: 100px;
	align-items: center;
}

nav h1 {
	float: left;
	font-size: 38px;
	font-weight: bold;
}

ul {
	float: right;
}

li {
	list-style-type: none;
	display: inline;
	margin: 10px;
	line-height: 60px;
}

button {
	height: 30px;
	background-color: gray;
	border: 1px solid gray;
	border-radius: 3px;
	padding: 0 10px;
}

.list-button {
	text-decoration: none;
	color: black;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}

.list-button:hover {
	background-color: black;
	color: white;
}

#alert {
	background-color: red;
	color: white;
>>>>>>> 9aa234795760239a532b0f5a2ecf1464b6ab519d
}
