// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  overflow: hidden;
}


.homepage {
  color: white;
  background: url(http://static.standard.co.uk/s3fs-public/thumbnails/image/2014/06/19/12/Fera-at-Claridges_1.jpg);
  background-size: cover;
  // position: relative;
  height: 800px;
}

.homepage h1 {
  border: solid 5px white;
  background-color: rgba(106, 177, 143, 0.7);
  padding: 30px;
  margin-right: auto;
  margin-left: auto;
  width: 460px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.homepage button {
  background-color: rgba(106, 177, 143, 0.7);
  border: solid 5px white;
  padding: 10px;
  font-family: Helvetica, sans-serif;
  position: relative;
  // transform: translate(-50%, -50%);
  transform: translate(500px, 500px);
}


.homepage ul {
  display: inline;
}

.homepage li {
  overflow: hidden;
  position: relative;
}

.homepage button a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  display: inline-block;
}

.show-page img {
  height: 300px;
}
