<h1>Welcome to SeatYourself</h1>

<div class="homepage_image">
<!-- <img src="http://www.agentofstyle.com/wp-content/uploads/sites/4/2014/06/sketch03.jpg"> -->
</div>

<% @restaurants.each do |restaurant| %>
<ul>
  <li>
    <%= link_to restaurant.name, restaurant_path(restaurant) %>
  </li>
</ul>
<% end %>
