<div class="homepage">

<h1>Welcome to SeatYourself</h1>

<% @restaurants.each do |restaurant| %>
<ul>
  <li>
    <%= link_to restaurant.name, restaurant_path(restaurant) %>
  </li>
</ul>
<% end %>

<button class="all-restaurants">
  <%= link_to "All Restaurants", restaurants_path %>
</button>

</div>
