
<div class="homepage">

<h1>Welcome to SeatYourself</h1>

<div class="rest-list">
<% @restaurants.each do |restaurant| %>
<ul>
  <button>
  <li>
    <%= link_to restaurant.name, restaurant_path(restaurant) %>
  </li>
  </button>
</ul>
<% end %>

</div>
