<div class="image-container">
<img src='http://www.thecatat.com/wp-content/uploads/2013/06/restaurant-banner2.jpg'class="restaurant-image"/>
</div>

<div class="rest-list">
<% @restaurants.each do |restaurant| %>
<ul>
	<li>
		<%= link_to restaurant.name, restaurant_path(restaurant) %>
	</li>
</ul>
<% end %>
</div>
