<<<<<<< HEAD
<div class="homepage">

<h1>Welcome to SeatYourself</h1>
=======
<div class="image-container">
<img src='http://www.thecatat.com/wp-content/uploads/2013/06/restaurant-banner2.jpg'class="restaurant-image"/>
</div>
>>>>>>> 9aa234795760239a532b0f5a2ecf1464b6ab519d

<div class="rest-list">
<% @restaurants.each do |restaurant| %>
<ul>
<<<<<<< HEAD
  <button>
  <li>
    <%= link_to restaurant.name, restaurant_path(restaurant) %>
  </li>
  </button>
</ul>
<% end %>

=======
	<li>
		<%= link_to restaurant.name, restaurant_path(restaurant) %>
	</li>
</ul>
<% end %>
>>>>>>> 9aa234795760239a532b0f5a2ecf1464b6ab519d
</div>
